{% extends "base.html" %}
{% load static %}
{% block contenido %}


    <body>
        <section class="bienvenidos">
            <div class="container-fluid p-3 mb-2 bg-secondary text-white" style="border-bottom: 1px solid #000000;">
                <div class="container-fluid p-3 mb-2 bg-white text-dark"
                    style="width: 80%; margin-left: 10%; margin-top: 7%; border-radius: 25px; border: 1px solid #000000;">
                    <figure style="width: 90%; margin-left: 5%;">
                        <div style="margin-top: 2%; text-align: center;">
                            <h2 class=" fs-1 fw-normal">{{user.username}} {{user.last_name}}
                            <h5 style="color: black; padding-top: 30px; padding-bottom: 20px;">Cantidad de noticias: {{cantidad}}
                            </h5>

                        </div>

                        <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
                        {% for item in noticias2 %}
                        
                            <div class="col">
                                <div class="card h-100 border-secondary mb-3s">
                                    <a href="{% url 'NOT' item.idNoticia %}"><img src="{{item.foto.url}}"
                                            class="card-img-top" alt="..."></a>
                                    <div class="card-body">
                                        <h5 class="card-title">{{item.titulo}}</h5>
                                        <p class="card-text">{{item.categoria}}</p>
                                        <p class="card-text">{{item.comentario}}</p>
                                        <div class="btn-group btn-group-sm">
                                            <button onclick="eliminar({{item.idNoticia}})" class="btn btn-outline-dark btn-danger">Eliminar</button>
                                            <button onclick="modificar({{item.idNoticia}})" class="btn btn-outline-dark">Modificar</button>
                                            <button data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                class="btn btn-dark" onclick="galeria_id({{item.idNoticia}})">Agregar fotos</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% for item in noticias %}
                            <div class="col">
                                <div class="card h-100 border-danger mb-3s">
                                    <a href="{% url 'NOT' item.idNoticia %}"><img src="{{item.foto.url}}"
                                            class="card-img-top" alt="..."></a>
                                    <div class="card-body">
                                        <h5 class="card-title">{{item.titulo}}</h5>
                                        <p class="card-text">{{item.categoria}}</p>
                                        <p class="card-text">{{item.comentario}}</p>
                                        <div class="btn-group btn-group-sm">
                                            <button onclick="eliminar({{item.idNoticia}})" class="btn btn-outline-dark btn-danger">Eliminar</button>
                                            <button onclick="modificar({{item.idNoticia}})" class="btn btn-outline-dark">Modificar</button>
                                            <button data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                class="btn btn-dark" onclick="galeria_id({{item.idNoticia}})">Agregar fotos</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         {% endfor %}
                            
                        
                        </div>
                    </figure>
                </div>
            </div>
        </section>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar fotos a Galeria</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'GRG' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <input type="hidden" name="txtId" id="txtId" value="">
                                <input type="file" class="form-control" id="txtFoto"  name="txtFoto">
                                <label class="input-group-text" for="inputGroupFile02">Subir</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-dark">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
    function eliminar(id) {
        Swal.fire({
                title: 'Eliminar',
                text: "¿Esta seguro de eliminar esta noticia?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si'
                }).then((result) => {
                if (result.isConfirmed) {
                    location.href='/eliminar/'+id+'/';
                }
                })
    }
    function modificar(id){
        location.href='/modificar/'+id+'/';
    }
    function galeria_id(id){
        document.getElementById("txtId").value=id;
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock contenido %}      
