{% extends "base.html" %}

{% load static %}
{% block js %}
     <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
{% endblock js %}
{% block contenido %}

    <section class="galeria">
        <div class="container-fluid p-3 mb-2 bg-secondary text-white" style="border-bottom: 1px solid #000000;">
            <h2 class="text-center display-1 fw-normal" style="padding-top: 80px; margin-bottom: 35px; ;">T I E N D A
            </h2>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="{% url 'CAR'%}" class="btn btn-light me-md-2" type="button"><img src="{% static 'img/descargar.png' %} " class="img-fluid" alt="..." style="width:30px; heigth:30px;"></a>
            </div>
        </div>
        <div style="width: 80%; margin-left: 10%;">
            <div class="row row-cols-1 row-cols-md-4 g-4 text-center" style="margin: 20px;">
            {% for item in articulos %}
                <div class="col">
                    <div class="card h-100 border-secondary mb-3" >
                        <img src="{{item.foto.url}}" class="card-img-top" alt="..." style="heigth:60%;">
                        <div class="card-body">
                            <h5 class="card-title">{{item.nombre}}</h5>
                            <p class="card-text">Precio: {{item.precio }}</p>
                            <a href="{% url 'AGA' item.idArticulo %}" class="btn btn-sm btn-dark">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="container-fluid p-3 mb-2 bg-secondary text-white"
            style="border-bottom: 1px solid #000000; border-top: 1px solid #000000;"></div>
    </section>
    
{% endblock contenido %}    